/* =============================================
SUPPORTS - MIXINS
============================================= */

@mixin vertically-centered() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontally-centered() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin vertically-horizontally-centered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin linear-gradient-overlay() {
  background-image: linear-gradient(to bottom, rgba($global-black, 0), rgba($global-black, 0.12));
}

@mixin standard-transition() {
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin transform-input() {
  transform: translate(5px, -15px);
}

@mixin background-image() {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -999;
  overflow: hidden;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
