.hero {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.student {
    right: 0;
    bottom: 0;
    position: absolute;

    img {
        width: 24em;
        object-fit: contain;
    }
}

.student-board {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
        width: 100%;
    }

    .frame-board {
        position: absolute;
        top: 14em;
        left: 11em;
        width: 450px;

        p {
            color: #ffffff;
            font-size: 25px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
        }
    }
}

.box-click {
    position: absolute;
    width: 600px;
    right: 26em;
    top: 9em;

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.hero-peraturan {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
        width: 100%;
        height: 450px;
    }
}

.navbar {
    display: flex;
    align-items: center;
}