@import "./mixins";

.hero {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.student {
    right: 0;
    bottom: 0;
    position: absolute;

    img {
        width: 24em;
        object-fit: contain;
    }
}

.student-board {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
        width: 100%;

        @media screen and (max-width: 1600px) {
            width: 80%;
        }
    }

    .frame-board {
        position: absolute;
        top: 14em;
        left: 11em;
        width: 450px;

        @media screen and (max-width: 1600px) {
            width: 350px;
        }

        p {
            color: #ffffff;
            font-size: 25px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;

            @media screen and (max-width: 1600px) {
                font-size: 20px;
            }
        }
    }
}

.box-click {
    position: absolute;
    // width: 600px;
    width: 25%;
    right: 26em;
    top: 10em;

    @media screen and (max-width: 1600px) {
        // width: 400px;
        width: 25%;
        right: 20em;
    }

    img {
        &:hover {
            cursor: pointer;
        }
    }

    .box {
        width: 300px;
        background-image: url("../img/box-click.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 400px;

        &:hover {
            cursor: pointer;
            background-image: url("../img/berangkat-sekolah.svg");
        }
    }
}

.container-peraturan {
    .hero-peraturan {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -999;

        img {
            width: 100%;
            // height: 450px;
        }
    }

    .container-header {
        display: flex;
        padding-top: 4em;
        justify-content: center;

        .header {
            width: 50%;
            display: grid;
            text-align: center;

            h1 {
                color: #000000;
                font-size: 15px;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
            }

            p {
                color: #000000;
                font-size: 10px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
            }
        }
    }

    .container-contoh {
        gap: 4em;
        display: flex;
        justify-content: center;
        padding: 7em 10em 0px 13em;

        .card {
            width: 700px;
            height: 370px;
            gap: 1em;
            display: grid;
            text-align: center;
            justify-items: center;
            position: relative;

            background: #ffdccc;
            border-radius: 25px;

            h1 {
                height: 20px;
                color: #000000;
                font-size: 13px;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
            }

            p {
                height: 300px;
                color: #000000;
                font-size: 11px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;

                padding: 0 2em 2em 2em;
            }

            img {
                height: 150px;
                margin-top: -5em;
                object-fit: contain;
            }

            .button {
                width: 100%;
                bottom: -16px;
                position: absolute;
                display: flex;
                justify-content: center;

                a {
                    gap: 7px;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    padding: 5px 1em;
                    border-radius: 8px;
                    background: #226300;
                    @include standard-transition();

                    img {
                        margin: 0;
                        width: 15px;
                        height: auto;
                    }
                }

                &:hover {
                    a {
                        gap: 10px;
                        @include standard-transition();
                    }
                }
            }
        }
    }
}

.container-peraturan-keluarga {
    .hero-peraturan {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -999;

        img {
            width: 100%;
        }
    }

    .container-header {
        display: flex;
        padding-top: 7em;
        justify-content: left;

        .header {
            width: 50%;
            display: grid;
            text-align: left;
            padding-left: 7em;

            h1 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
            }

            p {
                color: #000000;
                font-size: 15px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
            }
        }
    }

    .container-contoh {
        gap: 5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 7em 0 0 0;

        .card {
            width: 300px;
            height: auto;
            padding: 2em;
            gap: 1em;
            display: grid;
            text-align: center;
            justify-items: center;
            position: relative;

            background: #ffffff;
            border-radius: 25px;
            box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.2);

            @media screen and (max-width: 2000px) {
                width: 270px;
            }

            @media screen and (max-width: 1800px) {
                width: 245px;
            }

            @media screen and (max-width: 1600px) {
                width: 200px;
            }

            @media screen and (max-width: 1250px) {
                width: 120px;
            }

            h1 {
                color: #ff3131;
                font-size: 25px;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;

                @media screen and (max-width: 1600px) {
                    font-size: 17px;
                }

                @media screen and (max-width: 1250px) {
                    font-size: 10px;
                }
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;

                @media screen and (max-width: 1600px) {
                    height: 100px;
                }

                @media screen and (max-width: 1250px) {
                    height: 50px;
                }
            }
        }
    }
}

.navbar {
    border: none;
    z-index: 999;

    li {
        display: flex;
        align-items: center;
    }

    a {
        color: #161c2d;
        font-size: 15px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        @include standard-transition();

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid;
            @include standard-transition();
        }
    }

    .navbar-ul {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0;
        justify-content: space-between;

        img {
            width: 50px;
        }

        .right-navbar {
            gap: 2em;
            display: flex;
            align-items: center;
        }
    }
}
