@import "./mixins";

:root {
    --montserrat: "Montserrat", sans-serif;
    --text-red: #ed374d;
}

.hero {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.student {
    right: 0;
    bottom: 0;
    position: absolute;

    img {
        width: 24em;
        object-fit: contain;
    }
}

.student-board {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
        width: 100%;

        @media screen and (max-width: 1600px) {
            width: 80%;
        }
    }

    .frame-board {
        position: absolute;
        top: 14em;
        left: 11em;
        width: 450px;

        @media screen and (max-width: 1600px) {
            width: 350px;
        }

        p {
            color: #ffffff;
            font-size: 25px;
            font-weight: 600;
            font-family: var(--montserrat);

            @media screen and (max-width: 1600px) {
                font-size: 20px;
            }
        }
    }
}

.box-click {
    position: absolute;
    // width: 600px;
    width: 25%;
    right: 26em;
    top: 10em;

    @media screen and (max-width: 1600px) {
        width: 25%;
        right: 20em;
    }

    img {
        position: absolute;
        width: 150px;
        top: 6em;
        left: -7em;
    }

    .box {
        width: 300px;
        background-image: url("../img/box-click.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150%;
        height: 400px;
        @include standard-transition();

        &:hover {
            cursor: pointer;
            background-size: 120%;
            background-image: url("../img/box-click-open.svg");
            @include standard-transition();
        }
    }
}

.container-peraturan {
    .hero-peraturan {
        background-image: url("../img/bg-peraturan.svg");
        @include background-image();
    }

    .container-header {
        display: flex;
        padding-top: 4em;
        justify-content: center;

        .header {
            width: 50%;
            display: grid;
            text-align: center;

            h1 {
                color: #000000;
                font-size: 15px;
                font-weight: 700;
                font-family: var(--montserrat);
            }

            p {
                color: #000000;
                font-size: 10px;
                font-weight: 600;
                font-family: var(--montserrat);
            }
        }
    }

    .container-contoh {
        gap: 4em;
        display: flex;
        justify-content: center;
        padding: 7em 10em 0px 13em;

        .card {
            width: 700px;
            height: 370px;
            gap: 1em;
            display: grid;
            text-align: center;
            justify-items: center;
            position: relative;

            background: #ffdccc;
            border-radius: 25px;

            h1 {
                height: 20px;
                color: #000000;
                font-size: 13px;
                font-weight: 700;
                font-family: var(--montserrat);
            }

            p {
                height: 300px;
                color: #000000;
                font-size: 11px;
                font-weight: 600;
                font-family: var(--montserrat);

                padding: 0 2em 2em 2em;
            }

            img {
                height: 150px;
                margin-top: -5em;
                object-fit: contain;
            }

            .button {
                width: 100%;
                bottom: -16px;
                position: absolute;
                display: flex;
                justify-content: center;

                a {
                    gap: 7px;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    padding: 5px 1em;
                    border-radius: 8px;
                    background: #226300;
                    @include standard-transition();

                    img {
                        margin: 0;
                        width: 15px;
                        height: auto;
                    }
                }

                &:hover {
                    a {
                        gap: 10px;
                        @include standard-transition();
                    }
                }
            }
        }
    }
}

.container-peraturan-keluarga {
    .hero-peraturan {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: -999;

        img {
            width: 100%;
        }
    }

    .container-header {
        display: flex;
        padding-top: 5em;
        justify-content: left;

        .header {
            width: 70%;
            display: grid;
            text-align: left;
            padding-left: 7em;

            h1 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                font-family: var(--montserrat);
            }

            p {
                color: #000000;
                font-size: 15px;
                font-weight: 600;
                font-family: var(--montserrat);
            }
        }
    }

    .container-button {
        padding: 1em 7em;
        display: flex;
        width: 100%;

        a {
            border-radius: 25px;
            display: flex;
            justify-content: center;
            padding: 6px 0;
            color: white;
            font-family: var(--montserrat);
        }

        .btn1 {
            width: 15%;
            background: #3d3d3d;
            padding-right: 5em;
        }

        .btn2 {
            width: 10%;
            margin-left: -6em;
            background: #ff5a00;
            @include standard-transition();

            &:hover {
                margin-left: -5.5em;
                @include standard-transition();
            }
        }
    }

    .container-contoh {
        gap: 5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4em 0 0 0;

        .card {
            width: 300px;
            height: auto;
            padding: 2em;
            gap: 1em;
            display: grid;
            text-align: center;
            justify-items: center;
            position: relative;

            background: #ffffff;
            border-radius: 25px;
            box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.2);

            @media screen and (max-width: 2000px) {
                width: 270px;
            }

            @media screen and (max-width: 1800px) {
                width: 245px;
            }

            @media screen and (max-width: 1600px) {
                width: 200px;
            }

            @media screen and (max-width: 1250px) {
                width: 120px;
            }

            h1 {
                color: #100f0f;
                font-size: 20px;
                font-weight: 700;
                font-family: var(--montserrat);

                @media screen and (max-width: 1600px) {
                    font-size: 17px;
                }

                @media screen and (max-width: 1250px) {
                    font-size: 10px;
                }
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;

                @media screen and (max-width: 1600px) {
                    height: 100px;
                }

                @media screen and (max-width: 1250px) {
                    height: 50px;
                }
            }
        }
    }
}

.container-peraturan-keluarga-contoh2 {
    .hero-peraturan {
        background-image: url(../img/bg-peraturan-keluarga-2.svg);
        @include background-image();
    }

    .home-people {
        position: absolute;
        bottom: 0;
        right: 6em;
        width: 30%;
    }

    .container-header {
        display: flex;
        padding-top: 5em;
        justify-content: left;

        .header {
            width: 70%;
            display: grid;
            text-align: left;
            padding-left: 7em;

            p {
                color: #000000;
                font-size: 15px;
                font-weight: 700;
                font-family: var(--montserrat);
            }

            ul {
                gap: 6px;
                display: grid;
                margin-top: 1em;
            }

            li {
                gap: 5px;
                width: 80%;
                display: grid;
                grid-template-columns: 2em 1fr;
                align-items: center;
                color: #000000;
                list-style: none;
                font-size: 21px;
                font-weight: 700;
                font-family: var(--montserrat);

                &::before {
                    content: "";
                    height: 100%;
                    display: inline-block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../img/list-chevron.svg);
                }
            }
        }
    }

    .container-button {
        padding: 1em 7em;
        display: flex;
        width: 100%;
        padding-top: 7em;

        a {
            border-radius: 25px;
            display: flex;
            justify-content: center;
            padding: 6px 0;
            color: white;
            font-family: var(--montserrat);
        }

        .btn1 {
            width: 15%;
            padding-right: 5em;
            background: #3d3d3d;
        }

        .btn2 {
            width: 10%;
            margin-left: -6em;
            background: #ff5a00;
            @include standard-transition();

            &:hover {
                margin-left: -5.5em;
                @include standard-transition();
            }
        }
    }

    .container-contoh {
        gap: 5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4em 0 0 0;

        .card {
            width: 300px;
            height: auto;
            padding: 2em;
            gap: 1em;
            display: grid;
            text-align: center;
            justify-items: center;
            position: relative;

            background: #ffffff;
            border-radius: 25px;
            box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.2);

            @media screen and (max-width: 2000px) {
                width: 270px;
            }

            @media screen and (max-width: 1800px) {
                width: 245px;
            }

            @media screen and (max-width: 1600px) {
                width: 200px;
            }

            @media screen and (max-width: 1250px) {
                width: 120px;
            }

            h1 {
                color: #100f0f;
                font-size: 20px;
                font-weight: 700;
                font-family: var(--montserrat);

                @media screen and (max-width: 1600px) {
                    font-size: 17px;
                }

                @media screen and (max-width: 1250px) {
                    font-size: 10px;
                }
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;

                @media screen and (max-width: 1600px) {
                    height: 100px;
                }

                @media screen and (max-width: 1250px) {
                    height: 50px;
                }
            }
        }
    }
}

.container-peraturan-sekolah {
    .hero-peraturan {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -999;

        img {
            width: 100%;
        }
    }

    .container-header {
        display: flex;
        padding-top: 5em;
        justify-content: left;

        .header {
            width: 70%;
            display: grid;
            text-align: left;
            padding-left: 7em;

            h1 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                font-family: var(--montserrat);
            }

            p {
                color: #000000;
                font-size: 15px;
                font-weight: 600;
                font-family: var(--montserrat);
            }

            ul {
                gap: 0;
                display: grid;
                margin-left: 0;
            }

            li {
                color: #ed374d;
                font-weight: 600;
                font-family: var(--montserrat);
            }
        }
    }

    .container-contoh {
        gap: 5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4em 0 0 0;

        .card {
            width: 300px;
            height: auto;
            padding: 2em;
            gap: 1em;
            display: grid;
            text-align: center;
            justify-items: center;
            position: relative;

            background: #ffffff;
            border-radius: 25px;
            box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.2);

            @media screen and (max-width: 2000px) {
                width: 270px;
            }

            @media screen and (max-width: 1800px) {
                width: 245px;
            }

            @media screen and (max-width: 1600px) {
                width: 200px;
            }

            @media screen and (max-width: 1250px) {
                width: 120px;
            }

            h1 {
                color: #100f0f;
                font-size: 18px;
                font-weight: 700;
                font-family: var(--montserrat);

                @media screen and (max-width: 1600px) {
                    font-size: 17px;
                }

                @media screen and (max-width: 1250px) {
                    font-size: 10px;
                }
            }

            img {
                width: 150px;
                height: 150px;
                object-fit: contain;

                @media screen and (max-width: 1600px) {
                    height: 100px;
                }

                @media screen and (max-width: 1250px) {
                    height: 50px;
                }
            }

            ul {
                gap: 0;
                display: grid;
                margin-left: 0;
            }

            li {
                text-align: left;
                list-style: disc;
                color: #ed374d;
                font-size: 12px;
                font-weight: 600;
                font-family: var(--montserrat);
            }
        }
    }
}

.container-peraturan-masyarakat {
    .hero-peraturan {
        background-image: url(../img/hero-masyarakat.svg);
        @include background-image();
    }

    .container-header {
        display: flex;
        padding-top: 5em;
        justify-content: left;

        .header {
            width: 70%;
            display: grid;
            text-align: left;
            padding-left: 7em;

            h1 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                font-family: var(--montserrat);
            }

            p {
                color: #000000;
                font-size: 15px;
                font-weight: 600;
                font-family: var(--montserrat);
            }
        }
    }

    .container-peraturan {
        gap: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2em 7em;

        h1 {
            padding: 1em 0;
            text-align: center;
            color: #ed374d;
            font-size: 22px;
            font-weight: 700;
            font-family: var(--montserrat);
        }

        ul {
            gap: 0;
            display: grid;
            margin-left: 0;
        }

        li {
            list-style: disc;
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            font-family: var(--montserrat);
        }

        .card {
            padding: 1em 3em;
            border-radius: 12px;
            opacity: 0.9;
            background: #ffffff;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

.container-kotak-ajaib {
    position: relative;
    height: 100vh;

    .hero-kotak-ajaib {
        background-image: url(../img/bg-kotak-ajaib.svg);
        @include background-image();
    }

    .container-body {
        top: 5em;
        width: 100%;
        position: absolute;

        h1 {
            text-align: center;
            color: #ffffff;
            font-size: 100px;
            font-weight: 700;
            font-family: var(--montserrat);
        }

        .header {
            display: grid;
            justify-content: center;
            justify-items: center;
        }

        .container-card {
            gap: 1em;
            display: grid;
            justify-content: center;
            justify-items: center;
            padding: 4em 2em 0 2em;
            
            @media screen and (min-width: 1250px) {
                grid-template-columns: repeat(4, 1fr);
            }
            
            @media screen and (max-width: 1250px) {
                grid-template-columns: repeat(2, 1fr);
            }
            
            @media screen and (max-width: 620px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .card {
            gap: 1em;
            width: 350px;
            display: grid;
            padding: 0 2em;
            border-radius: 5px;
            background: #ffffff;
        }

        .img {
            img {
                width: 100%;
                height: 200px;
                object-fit: contain;
            }
        }

        .title {
            text-align: center;
            p {
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                font-family: var(--montserrat);
            }
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0;

            a {
                padding: 10px 4em;
                color: #ffffff;
                border-radius: 12px;
                background: #000000;
                @include standard-transition();

                &:hover {
                    color: #ffffff;
                    scale: 1.02;
                    cursor: pointer;
                    @include standard-transition();
                }
            }
        }
    }
}

.navbar {
    border: none;
    z-index: 999;

    li {
        display: flex;
        align-items: center;
    }

    a {
        color: #161c2d;
        font-size: 15px;
        font-weight: 500;
        font-family: var(--montserrat);
        @include standard-transition();

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid;
            @include standard-transition();
        }
    }

    .navbar-ul {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0;
        justify-content: space-between;

        img {
            width: 50px;
        }

        .left-navbar {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: #161c2d;
                font-size: 19px;
                font-weight: 700;
                font-family: var(--montserrat);
                @include standard-transition();

                &:hover {
                    border: none;

                }
            }
        }

        .right-navbar {
            gap: 2em;
            display: flex;
            align-items: center;

            img {
                width: 30px;
            }
        }
    }
}
