* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

ul {
    gap: 2em;
    display: flex;
}

li {
    color: white;
    list-style: none;
    font-size: larger;
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0 4em;
    border: none;
}

input {
    width: 100%;
    padding: 24px 4em;
    border-radius: 8.33px;
    border: 1px solid #7e7e7e;
    color: #7E7E7E;

    &::placeholder {
        font-size: 15px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
    }

    &:hover, &:focus, &:active, &:focus-visible {
        outline: none;
        border-color: #FA793F;
    }
}

button {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 8.33px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

nav {
    border: 1px solid;
    color: black;
    -webkit-text-fill-color: black;
}

section {
    height: 100vh;
    position: relative;
}

p {
    color: #7E7E7E;
    // font-size: 25px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

h3 {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
